{% extends "LocoStockBundle::layout.html.twig" %}

{% block title %}New Hello World{% endblock %}

{% block content %}

<h1>{% trans %}Hello %name%!{% endtrans %}</h1>
<h2>Hey, nice {{ article }}.</h2>

{% endblock %}
