{% extends "LocoStockBundle::layout.html.twig" %}

{% block title %}List stocks{% endblock %}

{% block content %}

<h1>List stocks</h1>

<p>Last prices:</p>
<ul>
{% for stock in stocks %}
  <li>{{ stock.ticker }} - ${{ stock.price }}</li>
{% endfor %}
</ul>

{% endblock %}
